*{
    padding: 0;
    margin:0;
}
body{
    font-family:'Young serif',serif;

}
.container{
    padding:50px;
    background-color: azure;
}
.Section-one{
    background-color: black;
    color: azure;
    padding:20px;
}
.Section-one__contact{
    background-color: rgb(219, 85, 23);
    color:white;
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    
}
.Sectio-one{
    font-size:60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;

}
.Section-two__desc,.Section-three__desc,.Section-four__desc{
    margin-top:20px;
    

}
.Section-five{
    background-color: black;
    color:antiquewhite;
    padding:20px;
}
.Section-five__title a{
    color: aqua;

}
.Section-three li,.Section-four li{
    list-style-type: none;
}
.Section-three{
    background-color: #6462fd;
    color:black;
    padding:20px;
    display:inline-block;
    height:200px;
    border-radius: 10px;

}
.Section-four{
    background-color: #FE7517;
    color: black;
    padding:20px;
    display:inline-block;
    height:200px;
    border-radius: 10px;
    vertical-align: top;
    
}
.contact-form{
    margin-top:20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top:10px;
}
.contact-form__input{
    padding:10px;
    border:none;
    border-bottom:solid black 1px; 
}
.contact-form__textarea{
    padding:10px;
    border:none;
    border:solid black 1px; 
}
.contact-form__submit{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: #FE7517;
    color: black;
}



